CodeBox.Domain/bin
CodeBox.Scratchpad/bin
CodeBox.Scratchpad/obj
CodeBox.Domain/obj
CodeBox.WebUI/bin
CodeBox.WebUI/obj
CodeBox.Domain/App.Config
CodeBox.WebUI/Web.Config
CodeBox.Testing/bin
CodeBox.Testing/obj
packages
./packages
*.FileListAbsolute.txt
packages

_ReSharper.CodeBox
*.aux

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
Documents/deliv1.pdf
Documents/sfmath.sty
