CodeBox.Domain/bin
CodeBox.Domain/obj
CodeBox.WebUI/Bin
CodeBox.WebUI/obj

_ReSharper.CodeBox
*.aux

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
