<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="CodeBoxEntities" connectionString="metadata=res://*/Concrete.ORM.CodeBoxModel.csdl|res://*/Concrete.ORM.CodeBoxModel.ssdl|res://*/Concrete.ORM.CodeBoxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-WINDOWS;initial catalog=codebox_db;persist security info=True;user id=sa;password=509AYrrZ%;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>